/* font style */
body {
    font-size: 1vw;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 2vw;
    margin-bottom: 0vw;
    font-family: sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid green; */
    line-height: 1.7;

}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

/* HEADER */

/* 1. navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

.logo, .nav-links {
    flex: 1;
    margin: 0.2vw;
}

.logo {
    font-size: 2.5vw;
    font-weight: bold;
    color:#2424C4;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 0;
    /* border: 1px solid green; */
}

.nav-links li {
    margin: 0vw;
    width: 8vw;
    padding: 0.5vw 1vw; 
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: underline;
}

.contact {
    background-color:white;
    border-radius: 1.5vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact a {
    color: #2424C4;
    font-weight: bold;
    text-decoration: none;
}

.contact:hover {
    background-color: #2424C4;
    
    & a {    
        text-decoration: none;
        color: white;
    }
}

/* 5. suscribe */
.subscribe {
    background-color: #2424C4;
    margin-top: 4vw;
    margin-bottom: 0vw;
    margin-left: -16vw;
    margin-right: -16vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe h2, .subscribe p {
    margin-left: 16vw;
    color: white;
}

.subscribe p  {
    margin-top: -0.5vw;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    margin-left: 16vw;
}

.social-media-links img {
    width: 2vw;
    margin-right: 1vw;
    transition: transform 0.3s ease;
}

.social-media-links img:hover {
    transform: scale(1.1);
}

/* MAIN SECTION */
.line {
    width: 10vw;
    border: 0.2vw solid #2424C4;
    margin-top: 8vw;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.title > div {
    flex: 1;
    /* border: 1px solid green; */
}

.title > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vw;
} 

.details {
    display: flex;
    flex-direction: column;
    align-items: left;

    & a {
        color: #2424c4;
    }

    & p {
        padding: 0;
        margin: 0;
        color: gray;
    }
}

.tag {
    margin-top: 1vw;
}

.tag > div {
    border: 1px solid gray;
    text-align: center;
    width: 14vw;
    border-radius: 1vw;
    color: gray;

}

/* Footer */
footer {
    margin: 0px;
    text-align: center;
}
